* {
  box-sizing: border-box;
}

body {
  background: black;
}

.hidden {
  display: none;
}

.wrapper {
  overflow: auto;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  font-family: 'Wire One', sans-serif;
  font-variant-caps: all-petite-caps;
  font-stretch: ultra-expanded;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 10px;
  background-image: url('../images/x-files1.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.quizDiv,
.startDiv,
.timer-box .timesUpMessage .sorryMessage .congratsMessage {
  padding: 10px;
  margin: 20px;
  background-color: #310909e0;
  min-height: 500px;
}

h1,
h2 {
  font-size: 48px;
}

p {
  font-size: 35px;
  border-bottom: 1px solid #dddddd59;
  padding: 25px;
}

button {
  padding: 15px;
  margin: 15px;
  background-color: #2d0808ed;
  color: #ffffff;
  font-family: 'Wire One';
  font-size: 20px;
  letter-spacing: 3px;
}

button:hover {
  color: rgb(134, 68, 68);
  background-color: #180101;
}

.audioBtns {
  text-align: center;
}

footer {
  color: white;
  font-size: 15px;
  text-align: center;
  padding: 25px;
}

@media screen and (max-width: 960px) {
  .wrapper {
    width: 100%;
  }

  .startDiv {
    margin: 20px 0;
  }
}