* {
    box-sizing: border-box;
}

body {
    background-image: url('../images/x-files1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hidden {
    display: none;
}

.wrapper {
    overflow: auto;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    font-family: 'Wire One', sans-serif;
    font-variant-caps: all-petite-caps;
    font-stretch: ultra-expanded;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 10px;
}

.quizDiv,
.startDiv,
.timer-box 
.timesUpMessage
.sorryMessage
.congratsMessage
{
    padding: 10px;
    margin: 20px;
    background-color: #31090996;
}

h1,
h2 {
    font-size: 48px;
}

p {
    font-size: 35px;
    border-bottom: 1px solid #dddddd59;
    padding: 25px;
}

button {
    padding: 15px;
    margin: 15px;
    background-color: #1e1b1b;
    color: #ffffff;
    font-family: 'Wire One';
    font-size: 20px;
}

button:hover {
    color: rgb(134, 68, 68);
    background-color: #180101;
}